# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDE
.vscode/
.idea/

# Virtual environments
env/
venv/
ENV/

# Build
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
